<h1>Добавить новую игру</h1>

<form action="/addGames" method="post" >
   <div class="input-field">
      <input id="title" name="title" type="text" class="validate" required>
      <label for="title">Название игры</label>
      <span class="helper-text" data-error="Введите название игры"></span>
   </div>

   <div class="input-field">
      <input id="img" name="img" type="text" class="validate" >
      <label for="img">URL обложки</label>
      <span class="helper-text" data-error="Введите URL обложки игры"></span>
   </div>
   
   <div class="input-field ">
      <textarea id="description" name="description" class="materialize-textarea" required></textarea>
      <label for="description">Описание</label>
   </div>

   <button class="btn btn-primary">Добавить игру</button>
</form>